@media (min-width: 1200px) {
    .container {
        width: 1130px !important;
    }
}

#preload {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 9999;
}

#spinner {
    position: absolute;
    width: 502px;
    height: 502px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -251px;
    transform:scale(0.3,0.3);
    background: url(../image/spinner.gif) no-repeat;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;  /* sans-serif 字体内没有衬线 */
    font-weight: 400;
    line-height: 25px;
    color: #333333;
    overflow-x: hidden;
    background-image: url(../image/background.png);
    padding: 0;
}
ul, li, nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 设置链接的显示 none为没有下划线等特殊样式 */
a {
    text-decoration: none !important;
}
.wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%; 
    margin: -290.5px auto 0 auto;
}


/* profile-widget */
.widget-profile{
    height: 580px;
    float: right;
    /* margin-top: 10px; */
    background: #3B5998; 
}
.widget-profile .image-holder{     /*设置头像位置*/
    position: relative;
    margin: 15px auto;
    width: 150px;
    height: 150px;
}
.widget-profile .head-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
.widget-profile  .head-image{
    z-index: 0;
}
.widget-profile  .front{
    z-index: 1;
}
.widget-profile .circle{
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 99em;             /*设置圆形区域*/
    -webkit-border-radius: 99em;     /*-moz代表火狐的内核,-ms代表 IE 内核,-webkit代表 chrome 内核*/
    -moz-border-radius: 99em;
}
.widget-profile .simple-photo {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    background-image: url('./image/profile-photo/front.png');
    margin-top: 25px;
    margin-bottom: 7px;
}
.widget-profile #profile-info{
    padding-bottom: 15px;
}
.widget-profile #profile-desc{
    padding-top: 15px;
    padding-bottom: 15px;
}
.widget-profile #profile-social{
    padding-top: 15px;
    text-align: center;
}
.widget-profile h1{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 400;
    color:#F0F8FF;
}
.widget-profile h6{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color:#B0C4DE;
}
.widget-profile p{
    border-left: 0px;
    color:#B0C4DE !important;
}
.widget-profile #profile-social a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    margin: 0px 0px 0px 5px;
    padding: 0;
    border: 1px solid white;
    text-align: center;
    font-size: 24px;
    color: white;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;       /* Opera */
    transition: all .3s ease-in;          /*把鼠标指针放到 div 元素上时，元素大小发生改变*/
}
#profile-social a:hover{
    background-color: #fff;
    color: #3B5998;
}
.widget-profile .head-image{
    border: 3.5px solid #E6E6FA;
}
.widget-profile .simple-photo {
    border: 3.5px solid #E6E6FA;
}

.clear{
    clear: both;
}

.flexy_content{
    clear: both;
    /* float: left; */
}

/* Left Menu */
#menuTab{
    z-index: 1;
    height: 100%;
    background-color: #f4f4f4;
}
.resp-tabs-list li{
    /* float: left; */
    display: inline-block;
    font-size: 13px;
    padding: 13px 15px;
    margin: 0;
    cursor: pointer;        /* 规定要显示的光标的类型（形状） */
    list-style: none;
}
.resp-tabs-list li:hover {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
    background: #f4f4f4;
}
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 9%;
    margin-bottom: 10px;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 17px !important;
    margin: 0;
    cursor: pointer;
    float: left;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.resp-vtabs .resp-tabs-list li:first-child {
    border-top: none;
}
.resp-vtabs .resp-tabs-list li:last-child {
    border-bottom: none;
}

/* .resp-vtabs .resp-tabs-container {	
    padding: 0;
    background-color: #f4f4f4;
    float: left;
    width: 88%;
    height: 580px;
    clear: none;
    margin-left: 13px;
} */
/* .resp-vtabs .resp-tab-content {
    border: none;
} */
.resp-vtabs li.resp-tab-active {
    border-right: none;
    color: #f4f4f4;
    position: relative;
    z-index: 1;
    padding: 17px !important;
    background: #f4f4f4;
}
.title-list{
    display: none;
    padding-left: 5px !important;
    font-size: 13px;
    position: relative;
    top: -6px;
}
/* .resp-tabs-list li:hover .hi-icon, .no-touch .hi-icon-effect-5 .hi-icon:hover {
    background: #04B2E8;
    border: 1px solid #04B2E8 !important;
} */

.icon_menu {
    font-size: 22px;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 43px;
}

.resp-tabs-container h1 {
    font-size: 26px;
    color: #999;
    text-transform: inherit;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #e6e6e6;
}
/* .resp-tabs-container h1:not(.h-bloc) {
    background: none;
} */
.resp-tabs-container {
    padding: 0;
    background-color: #f4f4f4;
    clear: left;
}
.resp-vtabs .resp-tabs-container {	
    padding: 0;
    background-color: #f4f4f4;
    float: left;
    width: 88%;
    height: 580px;
    clear: none;
    margin-left: 13px;
}


/* 设置 如何屏幕宽度小于800px的时候，不显示左边的菜单列表 */
@media only screen and (max-width: 800px){
    ul.resp-tabs-list{
        display: none;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-vtabs .resp-tabs-container {
        margin-left: 0 !important;
    }
    .widget-profile #profile_desc{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {

    /* #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }	 */

    .widget-profile,
    .flexy_content {
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* #Clearing */
/* Self Clearing */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

@media only screen and (min-width: 1200px) {

    .widget-profile #profile_social a{ 
        width: 45px;	
        height: 45px;	
        line-height: 45px;	
        font-size: 24px;	
    }
    .widget-profile h1 {
        font-size: 25px;
        line-height: 60px;
    }
}


@-webkit-keyframes imageAnimation {
    0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-moz-keyframes imageAnimation {
    0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -moz-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-o-keyframes imageAnimation {
    0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -o-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-ms-keyframes imageAnimation {
    0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    -ms-transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@keyframes imageAnimation {
    0% {
    opacity: 0;
    animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    transform: scale(1.1) rotate(3deg);
}
25% {
    opacity: 0;
    transform: scale(1.1) rotate(3deg);
}
100% {
    opacity: 0
}
}
@-webkit-keyframes titleAnimation {
    0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
}
8% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
17% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
19% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-moz-keyframes titleAnimation {
    0% {
    opacity: 0;
    -moz-transform: translateX(200px);
}
8% {
    opacity: 1;
    -moz-transform: translateX(0px);
}
17% {
    opacity: 1;
    -moz-transform: translateX(0px);
}
19% {
    opacity: 0;
    -moz-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-o-keyframes titleAnimation {
    0% {
    opacity: 0;
    -o-transform: translateX(200px);
}
8% {
    opacity: 1;
    -o-transform: translateX(0px);
}
17% {
    opacity: 1;
    -o-transform: translateX(0px);
}
19% {
    opacity: 0;
    -o-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@-ms-keyframes titleAnimation {
    0% {
    opacity: 0;
    -ms-transform: translateX(200px);
}
8% {
    opacity: 1;
    -ms-transform: translateX(0px);
}
17% {
    opacity: 1;
    -ms-transform: translateX(0px);
}
19% {
    opacity: 0;
    -ms-transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}
@keyframes titleAnimation {
    0% {
    opacity: 0;
    transform: translateX(200px);
}
8% {
    opacity: 1;
    transform: translateX(0px);
}
17% {
    opacity: 1;
    transform: translateX(0px);
}
19% {
    opacity: 0;
    transform: translateX(-400px);
}
25% {
    opacity: 0
}
100% {
    opacity: 0
}
}



@media only screen and (max-width: 1199px) {

    .widget-profile #profile_social a { 
        width: 34px;	
        height: 34px;	
        line-height: 34px;	
        font-size: 20px;	
    }

    .widget-profile h1 {
        font-size: 24px;
        line-height: 50px;
    }

}

@media only screen and (max-width: 260px) {
    .widget-profile h1 {
        font-size: 25px !important;
        line-height: 39px !important;
    }

    .widget-profile h4 {
        font-size: 13px !important;
    }

    .widget-profile{ 	
        /* height: 265px !important; */
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }
}

@media only screen  and (max-width: 766px) {
    .widget-profile{ 	
        /* height: 285px !important; */
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }

    .widget-profile h1 {
        font-size: 22px !important;
        line-height: 39px !important;
    }

    .widget-profile h4 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width : 766px) and (max-width: 800px) {
    .widget-profile{ 	
        /* height: 210px !important; */
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
}

@media only screen and (min-width : 800px) and (max-width : 991px) {

    .widget-profile{ 	
        height: 210px !important;	
        margin-bottom: 20px;
        float: none;
    }

    #profile_social {
        display: none;
    }
    #profile_desc {
        border-bottom: 0 !important;
    }
}

@media screen and (max-width: 240px) {

    ul.about li {
        padding-left: 2px;
        font-size: 9px;
    }

    /* #profile .about i.glyphicon {
        margin-right: 0;
    } */

    p {
        font-size: 12px;
    }
    
    .text_content {
        font-size: 13px;
    }
    .resp-tabs-container h1 {
        font-size: 11px;
    }

    h5, .h5 {
        font-size: 9px !important;
    }

}

@media screen and (min-width:850px) and (max-width: 1200px)  { 
    .resp-vtabs .resp-tabs-container { 
        width:89%; 
    }
}

@media screen and (max-width: 1200px) {

    ul.about li span.value {
        width: 196px;
    }
}

















.foot {
    width:100%;
    height:125px;
    line-height:200px;
    text-align:center;
    font-size:16px;
    color:#696969;
    background:#DCDCDC;
    /* margin-top:-100px; */

}